<div class="backdrop" (click)="closeOverlay()"></div>
<main>
    <div>
        <label for="name">{{ "OVERLAYS.NAME" | translate }}</label>
        <input #nameInput type="text" id="name" name="name" autocomplete="off" placeholder="NAME" maxlength="30">
        <label for="description">{{ "OVERLAYS.DESCRIPTION" | translate }}</label>
        <textarea #descriptionInput type="text" id="description" name="description" autocomplete="off" placeholder="DESCRIPTION (optional)" maxlength="100"></textarea>
    </div>
    <div>
        <p>{{createMessage}}</p>
        <button id="create-button" (click)="createGroup(nameInput.value, descriptionInput.value)">{{ "HOME.CREATE" | translate }}</button>
    </div>
</main>