main {
    margin-top: 5vh;
    margin-left: 25vw;
    height: 90vh;

    display: grid;
    justify-items: center;
}

section {
    height: 100%;
    width: 75%;
    padding: 10px;
    background-color: #CCE7FF;
    border-bottom: solid 5px #000070;
    border-top: solid 5px #000070;

    word-break: break-all;
    white-space: pre-wrap;

    display: grid;
    grid-template-rows: 1fr 1fr;
}