main {
    margin-top: 5vh;
    margin-left: 25vw;
    height: 95vh;
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 25px 0px;
}

section {
    height: 100%;
    width: 75%;
    padding: 10px;
    background-color: #CCE7FF;
    border-bottom: solid 5px #000070;
    border-top: solid 5px #000070;

    word-break: break-all;
    white-space: pre-wrap;
}