<div class="backdrop" (click)="closeOverlay()"></div>
<main>
    <div class="message-info">
        <label for="subject"> {{"FORUM.SUBJECT" | translate}}
            <input type="text" id="subject" name="subject" [(ngModel)]="message.subject" autocomplete="off" maxlength="50"/>
        </label>
        <label for="content"> {{"FORUM.CONTENT" | translate}}
            <textarea id="content" name="content" [(ngModel)]="message.content" autocomplete="off" placeholder="optional" maxlength="300"></textarea>
        </label>
    </div>
    <div class="recipients">
        <p>{{"FORUM.RECIPIENTS" | translate}}</p>
        <section>
            <li>
                <input type="checkbox" [value]="group.group_id" (change)="onGroupCheckboxChange($event, group.group_id)">
                <span>{{ "FORUM.ALL" | translate }}</span>
            </li>
        </section>
        <section [class.disabled]="allChecked">
            <ul>
                <li *ngFor="let sgroup of subgroups">
                    <input type="checkbox" [value]="sgroup.id" (change)="onGroupCheckboxChange($event, sgroup.id)">
                    <span>{{sgroup.name}}</span>
                </li>
            </ul>
        </section>
        <section class="users-recipients" [class.disabled]="allChecked">
            <div>
                <input [(ngModel)]="added_email" email type="email" placeholder="e-mail"><button [disabled]="!added_email" (click)="addRecipient(added_email)"> + </button>
            </div>
            <ul>
                <li *ngFor="let email of message.user_emails">{{email}}<button (click)="removeRecipient(email)"> - </button></li>
            </ul>
        </section>
    </div>
    <div class="message-status">
        <span class="status-message"> {{ messageStatus }} </span>
        <button (click)="sendMessage()" [disabled]="!message.subject || !message.content">{{ "FORUM.SEND" | translate }}</button>
    </div>
</main>
