<app-top-bar [isReturnAvailable]="true" [groupName]="group.name"></app-top-bar>
<main>
    <app-calendar (selectDate)="selectDate($event)"></app-calendar>
    <div>
        <p class="date-label">{{'CALENDAR.CHOSEN_DATE' | translate}}:</p>
        <p class="date">{{ selectedDate ? (selectedDate | date: 'dd / MM / yyyy') : '' }}</p>
    </div>
    <ul>
        <li *ngFor="let event of events" (click)="gotoEvent(event)">{{event.name}}</li>
    </ul>
    <button class="new-button" [style.visibility]="group.role === 'admin' ? 'visible' : 'hidden'" (click)="toggleOverlayEvent()">{{'CALENDAR.NEW_EVENT' | translate}}</button>
</main>

<app-overlay-new-event *ngIf="visibleOverlayEvent" (close)="toggleOverlayEvent()"></app-overlay-new-event>
