<app-top-bar [isReturnAvailable]="true" [groupName]="group.group_name"></app-top-bar>
<main>
    <app-calendar (selectDate)="selectDate($event)" [events]="events"></app-calendar>
    <div>
        <p class="date-label">{{'CALENDAR.CHOSEN_DATE' | translate}}:</p>
        <p class="date">{{ selectedDate ? (selectedDate | date: 'dd / MM / yyyy') : '' }}</p>
    </div>
    <ul>
        <ng-container *ngFor="let event of events">
            <li *ngIf="isAtDate(selectedDate, event.date_start, event.date_end)" (click)="gotoEvent(event)">{{event.name}}</li>
        </ng-container>
    </ul>
    <button class="new-button" [style.visibility]="group.role === 'Kapelmistrz' ? 'visible' : 'hidden'" (click)="toggleOverlayEvent()">{{'CALENDAR.NEW_EVENT' | translate}}</button>
</main>

<app-overlay-new-event *ngIf="visibleOverlayEvent" (close)="toggleOverlayEvent()"></app-overlay-new-event>
