<main>
    <input [(ngModel)]="name" type="text" [readonly]="!isEditAvailable" (input)="onInput()">
    <textarea [(ngModel)]="extra_info" [readonly]="!isEditAvailable" (input)="onInput()"></textarea>
    <p>{{"GROUP.ROLE" | translate}}<br>&emsp;{{group.role}}</p>
    <p class="inv-code">{{group.inv_code}}</p>
    <div>
        <span>{{editMessage}}</span>
        <button [style.visibility]="(isEditAvailable && name)? 'visible' : 'hidden'" (click)="saveGroupInfo(name, extra_info)" [disabled]="">-- &#x2714; --</button>
    </div>
</main>