<app-top-bar [isReturnAvailable]="true" [groupName]="group.name"></app-top-bar>
<main>
    <section>
        <p>{{'FORUM.MESSAGES' | translate}}</p>
        <button class="filters-button">&#8801;<div class="popup-options"></div></button>
    </section>
    <p>{{'FORUM.CONTENT' | translate}}</p>
    <ul>
        <li *ngFor="let message of messages" (click)="viewMessage(message.content)">{{message.name}}</li>
    </ul>
    <p id="viewed-message">{{viewedMessage}}</p>
    <button class="new-message-button" [style.visibility]="['admin', 'coord'].includes(group.role) ? 'visible' : 'hidden'" (click)="toggleOverlayMessage()">{{'FORUM.NEW_MESSAGE' | translate}}</button>
</main>

<app-overlay-new-message *ngIf="visibleOverlayMessage" (close)="toggleOverlayMessage()"></app-overlay-new-message>
