<app-top-bar></app-top-bar>

<main>
    <div class="welcome-text">WELCOME</div>
    <button (click)="toggleOverlayChoose()">CHOOSE THE GROUP</button>
    <section>
        <p (click)="toggleOverlayJoin()">JOIN</p>
        <p (click)="toggleOverlayCreate()">CREATE</p>
    </section>
</main>

<app-overlay-choose-group *ngIf="visibleOverlayChoose" (close)="toggleOverlayChoose()"></app-overlay-choose-group>
<app-overlay-join-group *ngIf="visibleOverlayJoin" (close)="toggleOverlayJoin()"></app-overlay-join-group>
<app-overlay-create-group *ngIf="visibleOverlayCreate" (close)="toggleOverlayCreate()"></app-overlay-create-group>