<app-top-bar [isReturnAvailable]="true"></app-top-bar>
<app-side-bar></app-side-bar>
<main>
    <div class="welcome-text">{{ "WELCOME" | translate }}</div>
    <button (click)="navigate('catalogue')" [innerHTML]="'GROUP_HUB.CATALOGUE' | translate"></button>
    <button (click)="navigate('calendar')" [innerHTML]="'GROUP_HUB.CALENDAR' | translate"></button>
    <button (click)="navigate('forum')" [innerHTML]="'GROUP_HUB.FORUM' | translate"></button>
    <button [style.visibility]="group.role==='Kapelmistrz'? 'visible' : 'hidden'" (click)="navigate('control')" id="control-button" [innerHTML]="'GROUP_HUB.CONTROL' | translate"></button>
</main>
