main {
    height: 100vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

button {
    width: 40vw;

    background-color: #CCE7FF;
    border: solid 5px #000070;
    border-radius: 75px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    color: #000070;
    font-size: larger;
    font-weight: bold;
}

.sign-in-text {
    padding: 20px;

    text-align: center;
    font-size: xx-large;
}