<!-- <main>
    <input [(ngModel)]="editGroup.group_name" type="text" [readonly]="!isEditAvailable">
    <textarea [readonly]="!isEditAvailable" [(ngModel)]="editGroup.extra_info"></textarea>
    <p>{{"GROUP.ROLE" | translate}}<br>&emsp;{{group.role}}</p>
    <p class="inv-code">{{group.inv_code}}</p>
    <div>
        <span>{{editMessage}}</span>
        <button [style.visibility]="(isEditAvailable && editGroup.group_name)? 'visible' : 'hidden'" (click)="saveGroupInfo()" [disabled]="">-- &#x2714; --</button>
    </div>
</main> -->