<main>
    <div class="icon"> &#9835; </div>
    <div class="group-name">{{groupName}}</div>
    <div class="interactibles">
        <div *ngIf="isLogoutAvailable" (click)="logOut()"> |x| </div>
        <div *ngIf="isReturnAvailable" onClick="history.go(-1); return false;"> &#8617; </div>
        <select name="language" id="language" (change)="changeLanguage($event)">
            <option *ngFor="let lang of languages" [value]="lang" [selected]="lang === currentLanguage">{{lang.toUpperCase()}}</option>
        </select>
    </div>
</main>